%ul.list-group
  - @posts.each do |post|
    - @user = User.find(post.user_id)
    %li.list-group-item
      = post.content
      = @user.email
      = link_to '編集', edit_post_path(post)
      = link_to '詳細', post_path(post)
= link_to '新規投稿', new_post_path
